
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.4.1
// MIT License

$track-color: #eceff1 !default;
$thumb-color: #607d8b !default;

$thumb-radius: 12px !default;
$thumb-height: 24px !default;
$thumb-width: 24px !default;
$thumb-shadow-size: 4px !default;
$thumb-shadow-blur: 4px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 2px !default;
$thumb-border-color: #eceff1 !default;

$track-width: 100% !default;
$track-height: 8px !default;
$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 2px !default;
$track-border-color: #cfd8dc !default;

$track-radius: 5px !default;
$contrast: 5% !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: pointer;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  cursor: pointer;
  height: $thumb-height;
  width: $thumb-width;
}

[type='range'] {
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &:focus {
    outline: 0;

    &::-webkit-slider-runnable-track {
      background: lighten($track-color, $contrast);
    }

    &::-ms-fill-lower {
      background: $track-color;
    }

    &::-ms-fill-upper {
      background: lighten($track-color, $contrast);
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  &::-moz-range-track {
    @include track;
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    border-width: ($thumb-height / 2) 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: darken($track-color, $contrast);
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: 0;
  }
}

//spinner 
// Variables
$circleDiam: 20px;
$innerCircleDiam: $circleDiam/3;
$rotatingCircleDiam: $circleDiam/5;

$innerCirclePos: ($circleDiam - $innerCircleDiam)/2;
$rotatingCirclePosLeft: ($circleDiam - $innerCircleDiam)/2 - $rotatingCircleDiam;
$rotatingCirclePosTop: $circleDiam/2 - $rotatingCircleDiam/2;
body{
  color: #777;
}
//The circle wrapper  
.spinner {  
  text-indent: 999em;
  width: $circleDiam; 
  height: $circleDiam;
  position: fixed;
  top: 50%; left: 50%;
  margin: -$circleDiam/2; 
  background-color: #888;
  box-shadow: 0 2px 1px rgba(0,0,0,.3) inset;
  border-radius: 50%;

// The inner, rotating circle
  &:after {
    content: '';
    position: absolute;
    top: $rotatingCirclePosTop; 
    left: $rotatingCirclePosLeft;
    background-color: #fff;
    height: $rotatingCircleDiam; 
    width: $rotatingCircleDiam;    
    animation: spin 1s linear infinite;
    border-radius: 50%;
    transform-origin: $innerCirclePos/2 + $rotatingCircleDiam;  
  }
}

// Spin it, baby!
@keyframes spin {
    100% { transform: rotate(360deg); }
}

#logo{
  font-family: Raleway;
  font-weight: bold;
  color: #6cbb23;
}

.navbar-nav{
  #phone{
    margin-right: 10px;
  }
  #envelope{
    margin-right: 5px;
  }
}

.story-content{ 
  p {
    line-height: 1.65em;
    font-size: 14px;
    font-weight: 300;
  }
}

.section-heading {
    margin-bottom: 60px;
    
    h2 {
      font-weight: 300;
      color: #5b32b4;
      font-size: 48px;
      margin: 0;
  }

  .line-shape {
    margin-left: calc(50% - 40px);
    width: 80px;
    height: 2px;
    background-color: #fb397d;
    margin-top: 15px;
  }
}

#goods_table{
  .thead-dark{
    th{
      background-color: #6cbb23;
    }
  }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    .single-price-plan {
      background: #ffffff;
      border: 1px solid #ebebeb;
      border-radius: 30px 30px 30px 0;
      margin-bottom: 30px;

      .package-plan {
          background-color: #6cbb23;
          padding: 40px 0;
          border-radius: 30px 30px 0 0;

           h5 {
              color: #fff;
              font-size: 17px;
              padding: 0px 5px;
          }

          .ca-price{
            span {
                font-size: 18px;
                color: #fff;
            }
            h4 {    
                color: #fff;
                font-size: 48px;
                position: relative;
                z-index: 1;
                margin-bottom: 0;
                line-height: 1;
            }
          } 
      }
      .package-description{
        p {
          margin-bottom: 0;
          line-height: 1;
          padding: 15px 0;
          border-bottom: 1px solid #ebebeb;
          color: #726a84;
          font-size: 16px;
          font-weight: 300;
          margin-top: 0;
          
          :first-child {
            border-top: 1px solid #ebebeb;
          }
        }
      }
  }
}

#myForm{
  .common-input {
      border: 1px solid #a6d477;
      line-height: 48px;
      width: 100%;
      display: block;
      background: transparent;
      padding: 0 25px;
  }
  .common-textarea {
      border: 1px solid #a6d477;
      width: 100%;
      display: block;
      background: transparent;
      padding: 15px 25px;
      height: 150px;
      resize: none;
  }
  .primary-btn.white-bg {
      background: #fff;
      border: 1px solid #eee;
      color: #6cbb23;
  }
  .white-bg {
      background: #fff;

      &:hover {
          background: #6cbb23;
          color: #fff;
          border: 1px solid transparent;
      }
  }
  .primary-btn {
      line-height: 40px;
      padding: 0 30px;
      border-radius: 20px;
      background: transparent;
      border: 1px solid #fff;
      color: #222;
      display: inline-block;
      font-weight: 500;
      position: relative;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      text-transform: uppercase;
  }
}
